<table class="table table-striped table-condensed datatable">
  <thead>
    <tr class="filter">
      <th>Number</th>
      <th>Banco</th>
      <th>Tarjeta</th>
      <th>Fecha limite de uso</th>
      <th>Vence</th>
      <th>Monto</th>
      <th>Quien solicito</th>
      
    </tr>
  </thead>
  <tbody>
    <% @reports.each do | row |%>
    <tr>
      <td><%= row.number %></td>
      <td><%= row.bank.name %></td>
      <td><%= row.credit_card_name %></td>
      <td><%= row.date_limit %></td>
      <td><%= row.expiration_month + "/" + row.expiration_year %></td>
      <td><%= row.amount %></td>
      <td><%= row.consumer %></td>
    </tr>
    <% end %>
  </tbody>

</table>