<script>
  $(document).ready(function() { 
    $("#to_use_credit_card_bank_id").select2();
    $("#to_use_credit_card_credit_card_id").select2();
  });
</script>
<%= form_for @to_use_credit_card, :html => { :class => "form-horizontal to_use_credit_card" } do |f| %>

  <% if @to_use_credit_card.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        Se encontraron los siguientes <%= pluralize(@to_use_credit_card.errors.count, "error") %>.
      </div>
      <ul>
      <% @to_use_credit_card.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset class="scheduler-border">
    <legend class="scheduler-border">Datos de la Tarjeta</legend>

  <div class="control-group row">
    <div class="col-md-3">
      <%= f.label :number, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :number, :class => 'form-control' %>
      </div>
      <%= error_span(@to_use_credit_card[:number]) %>
    </div>

    <div class="col-md-2">
        <%= f.label :security_code, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :security_code, :class => 'form-control' %>
        </div>
        <%= error_span(@to_use_credit_card[:security_code]) %>
    </div>

    <div class="col-md-3">
      <%= f.label :holder, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :holder, :class => 'form-control' %>
      </div>
      <%= error_span(@to_use_credit_card[:holder]) %>
    </div>

    <div class="col-md-2">
      <%= f.label :expiration_month, :class => 'control-label' %>
      <div class="controls">
        <%= f.select( "expiration_month", (1..12).collect {|m| [ m.to_s, m.to_s ] }, {include_blank: true}, { class: 'form-control'}) %>
        <%# f.text_field :expiration_month, :class => 'form-control' %>
      </div>
      <%= error_span(@to_use_credit_card[:expiration_month]) %>
    </div>

    <div class="col-md-2">
      <%= f.label :expiration_year, :class => 'control-label' %>
      <div class="controls">
        <%= f.select( "expiration_year", ((Date.today.year)..(20.years.since.year)).collect {|y| [ y.to_s, y.to_s ] }, {include_blank: true}, { class: 'form-control'}) %>
        <%# f.text_field :expiration_year, :class => 'form-control' %>
      </div>
      <%= error_span(@to_use_credit_card[:expiration_year]) %>
    </div>
  </div>
  

  <div class="control-group row">
    <div class="col-md-2">
      <%= f.label :bank, :class => 'control-label' %>
      <%= select(:to_use_credit_card, :bank_id, @banks, { include_blank: true }, :class => 'form-control') %>
    </div>
    <div class="col-md-2">
      <%= f.label :credit_card, :class => 'control-label' %>
      <%= select(:to_use_credit_card, :credit_card_id, @credit_cards, { include_blank: true }, :class => 'form-control') %>
    </div>
    <div class="col-md-8"></div>
  </div>

</fieldset>
<fieldset class="scheduler-border">
    <legend class="scheduler-border">Datos de Uso</legend>


  <div class="control-group row">
    <div class="col-md-2">
      <%= f.label :amount, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :amount, :class => 'form-control' %>
      </div>
      <%= error_span(@to_use_credit_card[:amount]) %>
    </div>
    <div class="col-md-2">
      <%= f.label :quotes, :class => 'control-label' %>
      <div class="controls">
        <%= f.select( "quotes", (1..24).collect {|q| [ q.to_s, q.to_s ] }, {include_blank: true}, { class: 'form-control'}) %>
        <%# f.text_field :expiration_month, :class => 'form-control' %>
      </div>
      <%= error_span(@to_use_credit_card[:quotes]) %>
    </div>
    <div class="col-md-2">
      <%= f.label :load_file, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :load_file, :class => 'form-control' %>
      </div>
      <%= error_span(@to_use_credit_card[:load_file]) %>
    </div>
    <div class="col-md-3">
      <%= f.label :agency, :class => 'control-label' %>
      <div class="controls">
        <%= f.hidden_field :agency_id, class: 'select2_agency' %>
      </div>
      <%= error_span(@to_use_credit_card[:agency]) %>
    </div>
    <div class="col-md-2">
      <%= f.label :reason, :class => 'control-label' %>
      <%= select(:to_use_credit_card, :reason_id, @reasons, { include_blank: true }, :class => 'form-control') %>
    </div>
    <div class="col-md-1"></div>
  </div>

  <div class="control-group row">
    <div class="col-md-2">
      <%= f.label :date_limit, :class => 'control-label' %>
       <div class="form-group">
          <div class='input-group date'>
            <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
            <%= f.text_field :date_limit, :class => 'form-control datemask' %>
          </div>
        </div>
      <%= error_span(@to_use_credit_card[:date_limit]) %>
    </div>

    <div class="col-md-4">
      <%= f.label "Uso del monto", :class => 'control-label' %>
        <div class="controls inline">
            <%# f.check_box(:allows_partial_use , {}, checked_value = "true", unchecked_value = "false") %>
            <%= f.radio_button(:allows_partial_use, "false") %> Solo total
            <%= f.radio_button(:allows_partial_use, "true") %> Permite uso parcial del monto
        </div>
        <%= error_span(@to_use_credit_card[:allows_partial_use]) %>
      </div>
    <div class="col-md-2">
      <%= f.label :consumer, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :consumer, :class=> 'form-control'%>
      </div>
    </div>
    <div class="col-md-2">
      <%= f.label :authorization_code, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :authorization_code, :class => 'form-control' %>
      </div>
      <%= error_span(@to_use_credit_card[:authorization_code]) %>
    </div>
    <div class="col-md-2"></div>
  </div>

 <div class="control-group row">
   <div class="col-md-12">
      <%= f.label :clarification, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :clarification, :class => 'form-control' %>
      </div>
      <%= error_span(@to_use_credit_card[:clarification]) %>
    </div>
  </div>
  
  <div class="control-group row">
   <div class="col-md-12">
      <%= f.label :email, :class => 'control-label' %> (Avisa de los usos, separar por comas si se carga mas de uno)
      <div class="controls">
        <%= f.text_field :email, :class => 'form-control' %>
      </div>
      <%= error_span(@to_use_credit_card[:email]) %>
    </div>
  </div>
</fieldset>


<div class="row top10">
  <div class="col-md-4">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            to_use_credit_cards_path, :class => 'btn btn-default' %>
  </div>
  <div class="col-md-8"></div>
</div>

<% end %>
