<%- model_class = ToUseCreditCard -%>
<table class="table table-striped table-condensed datatable">
  <thead>
    <tr class="filter">
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <th>Venc</th>
      <th><%= model_class.human_attribute_name(:number) %></th>
      <th><%= model_class.human_attribute_name(:credit_card) %></th>
      <th><%= model_class.human_attribute_name(:amount) %></th>
      <th><%= model_class.human_attribute_name(:quotes) %></th>
      <th><%= model_class.human_attribute_name(:agency) %></th>
      <th><%= model_class.human_attribute_name(:reason) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%= model_class.human_attribute_name(:date_limit) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @credit_cards.each do |to_use_credit_card| %>
      <tr>
        <td><%= to_use_credit_card.expiration_text %></td>
        <td><%= to_use_credit_card.number %></td>
        <td><%= to_use_credit_card.credit_card_name %></td>
        <td><%= number_with_precision(to_use_credit_card.cant_use_amount, precision: 2, separator: '.', strip_insignificant_zeros: true) %></td>
        <td><%= to_use_credit_card.quotes %></td>
        <td><%= to_use_credit_card.agency_name %></td>
        <td><%= to_use_credit_card.reason.name %></td>
        <td><%= to_use_credit_card.created_at %></td>
        <td>
          <% unless to_use_credit_card.date_limit.blank? %>
              <% if to_use_credit_card.overcome? then %>
                <span class="label label-danger"><%= to_use_credit_card.date_limit %></span>
              <% else %>
                <span class="label label-info"><%= to_use_credit_card.date_limit %></span>
              <% end %>
          <% end %>
        </td>
        <td>
          <div class="btn-group" role="group" aria-label="...">

          <%= link_to t('.use', :default => t("helpers.links.use")),
                      nil, :class => 'btn btn-success btn-xs button-use', "data-card" => to_use_credit_card.id, :remote => true, "data-toggle" => "modal", "data-target" => "#myModal" %>

          <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_to_use_credit_card_path(to_use_credit_card), :class => 'btn btn-default btn-xs' %>

          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      to_use_credit_card_path(to_use_credit_card),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>