<%- model_class = ToUseCreditCard -%>
<table class="table table-striped table-condensed datatable">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:number) %>/<%= model_class.human_attribute_name(:security_code) %></th>
      <th>Venc</th>
      <th><%= model_class.human_attribute_name(:holder) %></th>
      <th><%= model_class.human_attribute_name(:bank) %></th>
      <th><%= model_class.human_attribute_name(:credit_card) %></th>
      <th>Usado</th>
      <th>Agencia</th>
      <th>Por</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
      <th></th>
    </tr>

  </thead>
  <tbody>
    <% @uses.each do |use| %>
      <tr>
        <td><%= use.complete_number_text %></td>
        <td><%= use.expiration_text %></td>
        <td><%= use.holder %></td>
        <td><%= use.bank.name %></td>
        <td><%= use.credit_card.name %></td>
        <td><%= use.descriptive_amount %></td>
        <td><%= use.agency_name %></td>
        <td><%= use.user_name %></td>
        <td>
          <div class="btn-group" role="group">
          <%= link_to t('.reuse', :default => t("helpers.links.reuse")),
                      { controller: "to_use_credit_cards", action: "reuse_credit_card", id: use.to_use_credit_card.id, data_use_id: use.id }, 
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-primary btn-xs' %>

          </div>
        </td>
        <td><%= link_to(("<i class='fa fa-hand-o-right fa-lg'></i>
").html_safe, "http://10.0.0.82/es_sales/show/#{use.es_sale_id}", target: "_blank") unless use.es_sale_id.blank? %></td>
      </tr>
    <% end %>
  </tbody>
</table>