<%- model_class = ToUseCreditCard -%>
<table class="table table-striped datatable">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:number) %>/<%= model_class.human_attribute_name(:security_code) %></th>
      <th>Venc</th>
      <th><%= model_class.human_attribute_name(:holder) %></th>
      <th><%= model_class.human_attribute_name(:bank) %></th>
      <th><%= model_class.human_attribute_name(:credit_card) %></th>
      <th><%= model_class.human_attribute_name(:amount) %></th>
      <th><%= model_class.human_attribute_name(:load_file) %></th>
      <th><%= model_class.human_attribute_name(:creator_name) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>

  </thead>
  <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th>Banco</th>
                <th>Tarjeta</th>
                <th>Monto</th>
                <th>File</th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
  <tbody>
    <% @credit_cards.each do |to_use_credit_card| %>
      <tr>
        <td><%= to_use_credit_card.complete_number_text %></td>
        <td><%= to_use_credit_card.expiration_text %></td>
        <td><%= to_use_credit_card.holder %></td>
        <td><%= to_use_credit_card.bank.name %></td>
        <td><%= to_use_credit_card.credit_card.name %></td>
        <td><%= number_with_precision(to_use_credit_card.amount, precision: 2, separator: ',', strip_insignificant_zeros: true, delimiter: '.') %></td>
        <td><%= to_use_credit_card.load_file %></td>
        <td><%= to_use_credit_card.creator_name %></td>
        <td>
          <div class="btn-group" role="group" aria-label="...">
          <%= link_to t('.reuse', :default => t("helpers.links.reuse")),
                      { controller: "to_use_credit_cards", action: "reuse_credit_card", id: to_use_credit_card.id }, 
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-primary btn-xs' %>

          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>